@tailwind base;
@tailwind components;
@tailwind utilities;

.st0{;fill-rule:evenodd;clip-rule:evenodd;fill:#4398D1}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#ED5C56;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st3{fill:#4398D1;}
